language: haxe

haxe:
  - "3.2.1"
  - "3.4.0"
  - "3.4.7"

hxml:
  - build.hxml

notifications:
  email: false

deploy:
  - provider: script
    haxe: 3.4.7
    script: bash ./releaseHaxelib.sh $HAXELIB_PWD
    on:
      tags: true
